{% extends 'base.html' %}

{% block title %}About{% endblock %}



{% block body %}

<div class="container">
     <style>
            body{background-color: rgb(152, 232, 230);}
            h1{color: rgb(0 ,  0, 0;font-size: 40px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
            <img src=”image.jfif” height=”100″>
            p1{font-size: 60px;}
            a{font-size:60px;}

        </style>
    <h1> Welcome to the world of Aesthetic Space and Business Systems.</h1> <br>
 <p1>The main goal of ours  is to analyze the needs of the customers
  to reach their expectations by collecting their abundant
  experiences and to leave customers with priceless memories of the experience.</p1>
    <br>
    <p2> Aesthetics is the pleasure that enjoy from seeing an object or experience through our senses.
        It helps to connect with the customers at emotional level.
        The aesthetics of a building is one of the principal aspects considered in architecture.
    The appeal of a building covers the combined effects of a building's shape, size, texture, color,
        balance, unity, movement, emphasis, contrast, symmetry, proportion, space, alignment, pattern,
        decoration, culture, and context. It helps to connect with the customers at emotional level. </p2>

<br>
  <a href="http://127.0.0.1:5000/contact">For any Queries,Visit our contact page</a>
</div>

{% endblock %}