{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container" align="center">
    <style>
            body{background-color: rgb(152, 232, 230);}
            h1{color: rgb(0 ,  0, 0;font-size: 40px;font-family: Verdana, Geneva, Tahoma, sans-serif;}

            p1{font-size: 60px;}
            a{font-size:60px;}

        </style>

     <head>
        <title>Space and Aesthetics Management</title>
        <link rel="stylesheet" href="style.css">
    </head>
     <body>
        <div class="banner">
            <div class="navbar">
                <img src ="logo1.jpg" class="logo1">
            </div>
            <div class="content">
                <h1>DESIGN YOUR HOUSE</h1>
                <P>This is a platform where you can express your thoughts and
                    build your dream home.
                </P>
                <p2><bold>Dream homes begin with Dream designs.</bold></p2>
                <br>
             <p3><i>To Meet A Designer </i></p3>
  <a href="http://127.0.0.1:5000/login">login here</a>


    </body>

</div>
{% endblock %}
