{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block body %}

<div class="container" align="center">
    <style>
            body{background-color: rgb(152, 232, 230);}
            h1{color: rgb(0 ,  0, 0;font-size: 40px;font-family: Verdana, Geneva, Tahoma, sans-serif;}

            p1{font-size: 60px;}
            a{font-size:60px;}

        </style>

     <head>
        <title>Space and Aesthetics Management</title>
        <link rel="stylesheet" href="style.css">
    </head>
     <body>
        <div class="banner">
            <div class="navbar">
                <img src ="logo1.jpg" class="logo1">
            </div>
            <div class="content">
                <h1>SAM</h1>
                <P1><strong>This is a platform where you can express your thoughts and
                    build your dream home.</strong></P1>
                <div>
                    <button><a href=http://127.0.0.1:5000/login><span></span>LOGIN</a></button>
                   <button><a href=http://127.0.0.1:5000/newuser><span></span>REGISTER HERE</a></button>
                    <button><a href=http://127.0.0.1:5000/Home><span></span>Home</a></button>

                </div>
                <br>
                <p2><i>Best Prices on Home Interiors Guaranteed.<br>
                    Instant quotes with no hidden costs.</i></p2>
            </div>
        </div>
    </body>

</div>
{% endblock %}

