{% extends 'base.html' %}

{% block title %}Contact{% endblock %}


{% block body %}

<div class="container">
 <style>
            body{background-color: rgb(152, 232, 230);}
            h1{color: rgb(0 ,  0, 0;font-size: 40px;font-family: Verdana, Geneva, Tahoma, sans-serif;}

            p1{font-size: 60px;}
            a{font-size:60px;}

        </style>
 <h1>Login Success Page</h1>

  <a href="http://127.0.0.1:5000/about">Visit our home page</a>

</div>

{% endblock %}